.quiz-component{
    margin-top: 40px;
    margin-bottom: 25px;
    width: 70%;
    max-width: 1000px;
    .submit-quiz-btn  {
        margin: 35px auto 0;
        padding: 15px 22px;
        background-color: #4D5B9E;
        border: none;
        color: white;
        border-radius: 10px;
        font-size: 17px;
        font-weight: bold;
        display: block;
    }
    .loading{
        margin: 25% 50%;
    }
}